@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais para o projeto */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para o rodapé */
footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Outros estilos globais podem ser adicionados aqui */
